.font_1{
  font-family: 'Odibee Sans', cursive;
  font-size: 65px;
  font-weight: bold;
}
.footer-logo{
  height: 300px;
  width: 300px;
}

.footer-widget{
  padding-right: 70px;
}

/* About what we do-page-1 */
.what-we-do{
  padding-top: 30px;
  padding-bottom: 20px;
  font-size: 30px;
  font-family: 'Work Sans', sans-serif;
  font-weight:400;
  color: black;
}
.for-events{
  font-size: 65px;
  font-family: 'Work Sans', sans-serif;
}
.for-events-body p{
  font-size: 20px;
  font-family: 'Work Sans', sans-serif;
  color: black;
}
.what-we-do-1{
 
  font-size: 30px;
  font-family: 'Work Sans', sans-serif;
  font-weight:400;
  color: black
}
.red-berry{
  text-align: center;
  color: red;
}
.origin{
  font-family: 'Tiro Kannada', serif;
  font-weight: bold;
  font-size: 34px;
  color: #211A23;
}
.princi{
  display: flex;
  justify-content: center;
}
.delete{
  padding-left: 20px;
}
.edit{
  display: flex;
}




/* .btn-primary{

  
  
} */

.padding{
  padding-bottom: 4rem;
}
.cont{
  padding-top: 40px;

  display: flex;
  justify-content: center;

}
.kgf{
  padding-top: 40px;
}

.center{
  display: flex;
  justify-content: center;
}
.fa-7x{
  color: #004AA7;
}

.Board{
  text-align: center;
}

.Bod-pic{
  width: 42rem;
 
}
.Board-pic-cont{
  text-align: center;
}
.last-button{
  padding-top: 20px;
}

.center::before{
  content: '';
  background-image: url('/static/assets/images/services-right-dec.png');
  background-repeat: no-repeat;
  background-size: 100rem;
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.images-for-ham{
  width: 50%;
  height: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.picrad::before{
  content: '';
  background-image: url('/static/assets/images/services-right-dec.png');
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: -1;

}
.events-page:after{
  content: '';
  background-image: url('/static/assets/images/services-right-dec.png');
  background-repeat: no-repeat;
  background-size: 100px;
  position: absolute;
  left: 60px;
  top: 500px;
  width: 100%;
  height: 100%;
  z-index: -1;

}

.card-img-top{
  width: 175px;
  height: 200px;
}
.card{
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 20px;
  border: 2px solid gray;
  
 }
 .col-md-4{
   padding-bottom: 50px;
 }
/* .bod-display{
  display: flex;
  flex-direction: row;
}  */

.modifications:hover{
  background-image: url('/static/assets/images/service-bg.jpg');
  background-repeat: no-repeat;
  background-size:cover;
  transform: scale(1.1);

}
.card-img-top{
  padding-top: 20px;
  border-radius: 50%;
  object-fit:cover
  
}
.fa-2x{
  padding-right: 10px;
  color: black;
}
.pro{
  margin-bottom: 70px;
}
.card-title{
  
  font-size: 25px;
  font-family: 'Pacifico', cursive;
}

.card-text, .card-post, .card-title {
  text-align: center;
}
.card-post{
  
  font-size: 22px;
  font-family: 'Comfortaa', cursive;
  font-weight: bold;
}
.contact-page{
  color: blue;
}
.contact-container{
  display: flex;
  flex-direction: row;
  /* align-items: center;
  text-align: center; */
  
  padding-left: 25rem;
  justify-content: center;
}
.contact-name{
  padding-left: 20px;
}
.for-cont{
  font-family:monospace;
  font-size: 30px;
  color:#211A23
}
.fa-phone{
  color: rgb(34, 34, 97);
}

.events-page{
  font-size: 20px;
  font-family: 'Work Sans', sans-serif;
  color: black;
}
.event-2{
  padding-top: 4rem;

}
.Board_1{
  padding-bottom: 100px;
  text-align: center;
}
.event-3{
  padding-top: 4 rem;
}
.h2-events{
  font-family: 'Tiro Kannada', serif;
  font-weight: bolder; 
}
h3{
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-weight: bold;
  font-size: 21px;
}
.for-login{
  padding-top: 300px;
}
.register{
  padding-top: 16rem;
}
@media (max-width:1024px) {
  .offset-lg-3{
    padding-top: 167px;
  }
  
  .footer-widget{
    padding-bottom: 30px;
  }
  .Bod-pic{
    width:43vh
  }
  .contact-container{
    display: flex;
    flex-direction: row;
    /* align-items: center;
    text-align: center; */
   
    padding-left: 130px;
    justify-content: center;
  }
  /* .pro{
    display: flex;
    justify-content: center;
    align-items: center;
    
    
   } */
   .col-lg-3{
     align-items: center;
     padding-left: 91px;

   }
   .footer-widget{
     align-items: center;
     justify-content: center;
   }
   h4{
    padding: 0;
    margin: 0;
   }

  
}