<!DOCTYPE html>
<html lang="en">
  <head>
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap"
      rel="stylesheet"
    />
    <link
      href="/static/assets/vendor/bootstrap/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="static/assets/css/templatemo-chain-app-dev.css"
    />
    <link rel="stylesheet" href="static/assets/css/animated.css" />
    <link rel="stylesheet" href="static/assets/css/owl.css" />
    <link
      href="https://fonts.googleapis.com/css2?family=Pacifico&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&display=swap"
      rel="stylesheet"
    />
    {% extends "footer.html" %}
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Contact</title>
  </head>
  <body>
    {%block content %}
    <div
      class="main-banner wow fadeIn"
      id="top"
      data-wow-duration="1s"
      data-wow-delay="0.5s"
    >
      <div
        class="left-content show-up header-text wow fadeInLeft"
        data-wow-duration="1s"
        data-wow-delay="1s"
      >
        <h1 class="font_1 Board">Contact Us</h1>
      </div>
    </div>
    <div class="container contact-container">
        <i class="fa-solid fa-phone fa-3x contact-page""></i>
      <span class="col">
        <span class="row contact-name"><p class="for-cont">Thejusvani</p></span>
        <span class="row mx-2"><a href="tel:9663583104"> 9663583104</a></span>
      </span>
    </div>
    <div class="container contact-container">
      
      <i class="fa-solid fa-phone fa-3x contact-page""></i>
      <span class="col">
        <span class="row contact-name"
          ><p class="for-cont">Supreet</p></span
        >
        <span class="row mx-2"><a href="tel:9108872583">9108872583</a></span>
      </span>
    </div>

    <div class="container contact-container">
        <i class="fa-solid fa-phone fa-3x contact-page""></i>
      <span class="col">
        <span class="row contact-name"
          ><p class="for-cont">Varsha</p></span
        >
        <span class="row mx-2"><a href="tel:9876788787">9148408093</a></span>
      </span>
    </div>

    <script src="/static/assets/vendor/jquery/jquery.min.js"></script>
    <script src="static/assets/js/animation.js"></script>
    <script
      src="https://kit.fontawesome.com/142a7d352d.js"
      crossorigin="anonymous"
    ></script>

    <script src="static/assets/js/owl-carousel.js"></script>

    <script src="static/assets/js/popup.js"></script>
    <script src="static/assets/js/custom.js"></script>
    {%endblock%}
  </body>
</html>
