<!DOCTYPE html>
<html lang="en">
  <head>
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap"
      rel="stylesheet"
    />
    <link
      href="/static/assets/vendor/bootstrap/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="static/assets/css/templatemo-chain-app-dev.css"
    />
    <link rel="stylesheet" href="static/assets/css/animated.css" />
    <link rel="stylesheet" href="static/assets/css/owl.css" />
    <link
      href="https://fonts.googleapis.com/css2?family=Pacifico&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&display=swap"
      rel="stylesheet"
    />
    <link rel="icon" href="../static/assets/images/logo.ico" type="image/x-icon">

    
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Contact</title>
  </head>
  <body>
    <div id="js-preloader" class="js-preloader">
      <div class="preloader-inner">
        <span class="dot"></span>
        <div class="dots">
          <span></span>
          <span></span>
          <span></span>
        </div>
      </div>
    </div>
    <header
    class="header-area header-sticky wow slideInDown"
    data-wow-duration="0.75s"
    data-wow-delay="0s"
  >
    <div class="container">
      <div class="row">
        <div class="col-12">
          <nav class="main-nav">
            <!-- ***** Logo Start ***** -->
            <a href="index.html" class="logo">
              <img
                src="static/assets/images/HAM-LOGO.png"
                alt="Chain App Dev"
              />
            </a>
            <!-- ***** Logo End ***** -->
            <!-- ***** Menu Start ***** -->
            <ul class="nav">
              <li class="scroll-to-section">
                <a href="{{url_for('home')}}" class="active">Home</a>
              </li>
              <li class="scroll-to-section">
                <a href="#services">Join Us</a>
              </li>
              <li class="scroll-to-section">
                <a href="{{url_for('board')}}">Board</a>
              </li>
              <li class="scroll-to-section">
                <a href="{{url_for('contact')}}">Contact Us</a>
              </li>
              <li class="scroll-to-section"><a href="{{url_for('events')}}">Events</a></li>
              {% if is_user_in: %}
              <li class="scroll-to-section">
                <a href="{{url_for('logout')}}"><button class="btn btn-dark">Logout</button></a>
                
              </li>
              {%else%}
              <li class="scroll-to-section">
                <a href="{{url_for('login')}}"><button class="btn btn-dark">Login</button></a>
                
              </li>
              <li class="scroll-to-section">
                <a href="{{url_for('register')}}"><button class="btn btn-dark">Register</button></a>
                
              </li>
              {% endif %}
            </ul>
            <a class="menu-trigger">
              <span>Menu</span>
            </a>
            <!-- ***** Menu End ***** -->
          </nav>
        </div>
      
    </div>
  </header>
    <div
      class="main-banner wow fadeIn"
      id="top"
      data-wow-duration="1s"
      data-wow-delay="0.5s"
    >
      <div
        class="left-content show-up header-text wow fadeInLeft"
        data-wow-duration="1s"
        data-wow-delay="1s"
      >
        <h1 class="font_1 Board">Contact Us</h1>
      </div>
    </div>
    <div class="container contact-container">
        <i class="fa-solid fa-phone fa-3x contact-page""></i>
      <span class="col">
        <span class="row contact-name"><p class="for-cont">Thejusvani</p></span>
        <span class="row mx-2"><a href="tel:9663583104"> 9663583104</a></span>
      </span>
    </div>
    <div class="container contact-container">
      
      <i class="fa-solid fa-phone fa-3x contact-page""></i>
      <span class="col">
        <span class="row contact-name"
          ><p class="for-cont">Supreet</p></span
        >
        <span class="row mx-2"><a href="tel:9108872583">9108872583</a></span>
      </span>
    </div>

    <div class="container contact-container">
        <i class="fa-solid fa-phone fa-3x contact-page""></i>
      <span class="col">
        <span class="row contact-name"
          ><p class="for-cont">Varsha</p></span
        >
        <span class="row mx-2"><a href="tel:9876788787">9148408093</a></span>
      </span>
    </div>
    <footer id="newsletter">
      <div class="container">
    <div class="row">
      <div class="col-lg-8 offset-lg-2"></div>
      <div class="col-lg-6 offset-lg-3">
        <form id="search" action="#" method="GET">
          <div class="row"></div>
        </form>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-3">
        <div class="footer-widget">
          <h4 class="media">Our Socials</h4>
          <div class="col no-padding">
           <a href=""><i class="fa-brands fa-facebook fa-2x"></i></a>
           <a href="https://www.instagram.com/hamclubofbit/"><i class="fa-brands fa-instagram fa-2x"></i></a>
           <a href="https://twitter.com/"><i class="fa-brands fa-twitter fa-2x"></i></a>
           <a href="mailto:hamclubofbit@gmail.com"><i class="fa-solid fa-envelope fa-2x"></i></a>
          </div>
        </div>
      </div>
      <div class="col-lg-3">
        <div class="footer-widget">
          <h4>Quick Links</h4>
          <ul>
            <li><a href="{{url_for('home')}}">Home</a></li>
            <li><a href="{{url_for('board')}}">Board</a></li>
            <li><a href="{{url_for('contact')}}">Contact Us</a></li>
            <li><a href="{{url_for('events')}}">Events</a></li>
          </ul>
        </div>
      </div>
      <div class="col-lg-3">
        <div class="footer-widget">
          <h4>Contact Us</h4>
          <ul>
            <li><a href="tel:9663583104">Tejeswini:-9663583104</a></li>
            <li><a href="tel:9876788787">Varsha:-9148408093</a></li>
            <li><a href="tel:9108872583">Supreet:-9108872583</a></li>
          </ul>
        </div>
      </div>
      <div class="col-lg-3">
        <div class="footer-widget">
          <!-- <h4>About HAM-CLUB</h4> -->
          <div class="logo">
            <img src="static/assets/images/HAM-LOGO.png" alt="" px"/>
          </div>
        </div>
      </div>
      <div class="col-lg-12">
        <div class="copyright-text">
          <p>
            Copyright © 2022 HAM Club of BIT All Rights Reserved.
            
            
          </p>
        </div>
      </div>
    </div>
  </div>
  </footer>

    <script src="/static/assets/vendor/jquery/jquery.min.js"></script>
    <script src="static/assets/js/animation.js"></script>
    <script
      src="https://kit.fontawesome.com/142a7d352d.js"
      crossorigin="anonymous"
    ></script>

    <script src="static/assets/js/owl-carousel.js"></script>

    <script src="static/assets/js/popup.js"></script>
    <script src="static/assets/js/custom.js"></script>
   
  </body>
</html>
