<!DOCTYPE html>
<html lang="en">
<head>
 
    
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Events</title>
    <link
    href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap"
    rel="stylesheet"
  />
  <link
    href="/static/assets/vendor/bootstrap/css/bootstrap.min.css"
    rel="stylesheet"
  />
  <link href="https://fonts.googleapis.com/css2?family=Spline+Sans+Mono:wght@300&display=swap" rel="stylesheet">
  <link
    rel="stylesheet"
    href="static/assets/css/templatemo-chain-app-dev.css"
  />
  <link rel="stylesheet" href="static/assets/css/animated.css" />
  <link rel="stylesheet" href="static/assets/css/owl.css" />
  <link href="https://fonts.googleapis.com/css2?family=Pacifico&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Tiro+Kannada&display=swap" rel="stylesheet">

</head>
<body>
  <div id="js-preloader" class="js-preloader">
    <div class="preloader-inner">
      <span class="dot"></span>
      <div class="dots">
        <span></span>
        <span></span>
        <span></span>
      </div>
    </div>
  </div>
  <header
  class="header-area header-sticky wow slideInDown"
  data-wow-duration="0.75s"
  data-wow-delay="0s"
>
  <div class="container">
    <div class="row">
      <div class="col-12">
        <nav class="main-nav">
          <!-- ***** Logo Start ***** -->
          <a href="index.html" class="logo">
            <img
              src="static/assets/images/HAM-LOGO.png"
              alt="Chain App Dev"
            />
          </a>
          <!-- ***** Logo End ***** -->
          <!-- ***** Menu Start ***** -->
          <ul class="nav">
            <li class="scroll-to-section">
              <a href="{{url_for('home')}}" class="active">Home</a>
            </li>
            <li class="scroll-to-section">
              <a href="#services">Join Us</a>
            </li>
            <li class="scroll-to-section">
              <a href="{{url_for('board')}}">Board</a>
            </li>
            <li class="scroll-to-section">
              <a href="{{url_for('contact')}}">Contact Us</a>
            </li>
            <li class="scroll-to-section"><a href="{{url_for('events')}}">Events</a></li>
            <li class="scroll-to-section">
              <a href="{{url_for('login')}}"><button class="btn btn-dark">Login</button></a>
              
            </li>
          </ul>
          <a class="menu-trigger">
            <span>Menu</span>
          </a>
          <!-- ***** Menu End ***** -->
        </nav>
      </div>
    
  </div>
</header>
    <div
    class="main-banner wow fadeIn"
    id="top"
    data-wow-duration="1s"
    data-wow-delay="0.5s"
  >
    <div
      class="left-content show-up header-text wow fadeInLeft"
      data-wow-duration="1s"
      data-wow-delay="1s"
    >
      <h1 class="font_1 Board">Events for Manthan</h1>
    </div>
  </div>
  <div class="container event-1 ">
      <h2 class="h2-events">1) KGF - The Game :</h2>
      <p>
        <h3>Event Details :-</h3>
        <p class="events-page">❖ Event Duration : 2 hours</p>
        <p class="events-page">❖ Registration fee : Rs. 100/- per person</p>
        <p class="events-page">❖ Location : Level 1, Level 2 - Main Building, Final Round - Quadrangle</p>
        <p class="events-page">❖ Prize :-</p>
        <p class="events-page">1st Place: Gift Hampers Worth 5000/-</p>
        <p class="events-page">2nd Place: Gift Hampers Worth 3000/-</p>
        <p class="events-page">The event is about the movie KGF (both the chapters)</p>
        <p class="events-page">Eg: Chapter 1.1 and Chapter 2.1 would be a quiz on the movies</p>
        <p class="events-page">The further levels can have something like:</p>
        <p class="events-page">⮚ Pick a chit and say the dialogue; or enact a skit (from kgf)</p>
        <p class="events-page">⮚ Finding El Dorado (The final level of 1.3 would be a game to gold biscuit )</p>
        <p class="events-page">⮚ Final round of 2.3 would be a director level one, in which the participant should give a
        glimpse of chapter 3 based on his/her idea.</p>
        <p class="events-page">Based on the overall performance, the winners would be decided, and provided with gift hampers.
        Come win your "Duniya"</p></p>
  </div>
  <div class="container event-2">
      <h2 class="h2-events">2) STUDENT OF THE YEAR :</h2>
      <p>
       <h3> Event Details :-</h3>
        <p class="events-page">❖ Event Duration : 3 hours</p>
        <p class="events-page">❖ Registration fee : Rs. 150/- per person</p>
        <p class="events-page">❖ Location : Main Building (one classroom on each floor), Finals - Quadrangle</p>
        <p class="events-page">❖ Prize :-</p>
        <p class="events-page">Title Winner : Gift Hampers worth 7000/-</p>
        <p class="events-page">Runner up: Gift Hampers worth 4000/-</p>
        <p class="events-page">Each floor of the college building would be considered as a level in the game</p>
        <p class="events-page">Starting off with the 7th floor, people who can make it until the quadrangle would be the finalists for the title.</p> 
        
        <p class="events-page">Example of one of the level would be :</p>
        <p class="events-page">A board game where the participant would be a pawn, and each number on the board game would</p>
        <p class="events-page">have a unique activity and those who complete the game first getting through the board game will make <p class="events-page">it to</p>
        <p class="events-page">the next level.</p>
        <p class="events-page">The winner will be Entitled with "Student of the Year"</p>
        <p class="events-page">Along with gift hampers!</p>
      </p>

  </div>
  <div class=" container event-2">
      <h2 class="h2-events">3) FILM CRAFT :</h2>
      <h3>Event Details :-</h3>
<p class="events-page">❖ Event Duration : 1 hour</p>
<p class="events-page">❖ Registration fee : Rs. 200/- per team</p>
<p class="events-page">❖ Location : Preliminary Round - Corridor, Finals - Main stage</p>
<p class="events-page">❖ Awards :-</p>
<p class="events-page">Best Performer</p>
<p class="events-page">Best Team</p>
<p class="events-page">Each team should select a movie of their choice</p>
<p class="events-page">Dress up like the cast from the selected movie</p>
<p class="events-page">Each team will get around 5 mins of stage presence</p>
<p class="events-page">In this given amount of time they can either perfom:</p>
<p class="events-page">● A Scene</p>
<p class="events-page">● A Song</p>
<p class="events-page">● A Dance</p>
<p class="events-page">● A couple of Dialogues</p>
<p class="events-page">All of the above from the selected movie*</p>
<p class="events-page">Judgement would be done based on the overall performance, and the winners will be awarded.</p>
  </div>
  <footer id="newsletter">
    <div class="container">
  <div class="row">
    <div class="col-lg-8 offset-lg-2"></div>
    <div class="col-lg-6 offset-lg-3">
      <form id="search" action="#" method="GET">
        <div class="row"></div>
      </form>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-3">
      <div class="footer-widget">
        <h4 class="media">Our Socials</h4>
        <div class="col no-padding">
         <a href=""><i class="fa-brands fa-facebook fa-2x"></i></a>
         <a href="https://www.instagram.com/hamclubofbit/"><i class="fa-brands fa-instagram fa-2x"></i></a>
         <a href="https://twitter.com/"><i class="fa-brands fa-twitter fa-2x"></i></a>
         <a href="mailto:hamclubofbit@gmail.com"><i class="fa-solid fa-envelope fa-2x"></i></a>
        </div>
      </div>
    </div>
    <div class="col-lg-3">
      <div class="footer-widget">
        <h4>Quick Links</h4>
        <ul>
          <li><a href="{{url_for('home')}}">Home</a></li>
          <li><a href="{{url_for('board')}}">Board</a></li>
          <li><a href="{{url_for('contact')}}">Contact Us</a></li>
          <li><a href="{{url_for('events')}}">Events</a></li>
        </ul>
      </div>
    </div>
    <div class="col-lg-3">
      <div class="footer-widget">
        <h4>Contact Us</h4>
        <ul>
          <li><a href="tel:9663583104">Tejeswini:-9663583104</a></li>
          <li><a href="tel:9876788787">Varsha:-9148408093</a></li>
          <li><a href="tel:9108872583">Supreet:-9108872583</a></li>
        </ul>
      </div>
    </div>
    <div class="col-lg-3">
      <div class="footer-widget">
        <!-- <h4>About HAM-CLUB</h4> -->
        <div class="logo">
          <img src="static/assets/images/HAM-LOGO.png" alt="" px"/>
        </div>
      </div>
    </div>
    <div class="col-lg-12">
      <div class="copyright-text">
        <p>
          Copyright © 2022 HAM Club of BIT All Rights Reserved.
          <br />Design:
          <a
            href="https://templatemo.com/"
            target="_blank"
            title="css templates"
            >TemplateMo</a
          >
        </p>
      </div>
    </div>
  </div>
</div>
</footer>
    <script src="/static/assets/vendor/jquery/jquery.min.js"></script>
    <script src="static/assets/js/animation.js"></script>

    <script src="static/assets/js/owl-carousel.js"></script>

    <script src="static/assets/js/popup.js"></script>
    <script src="static/assets/js/custom.js"></script>
</body>
</html>