<!DOCTYPE html>
<html lang="en">
  <head>
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap"
      rel="stylesheet"
    />
    <link
      href="/static/assets/vendor/bootstrap/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="static/assets/css/templatemo-chain-app-dev.css"
    />
    <link rel="stylesheet" href="static/assets/css/animated.css" />
    <link rel="stylesheet" href="static/assets/css/owl.css" />

    <meta charset="UTF-8" />
    <title></title>
  </head>
  <body>
    <div id="js-preloader" class="js-preloader">
      <div class="preloader-inner">
        <span class="dot"></span>
        <div class="dots">
          <span></span>
          <span></span>
          <span></span>
        </div>
      </div>
    </div>
    <header
    class="header-area header-sticky wow slideInDown"
    data-wow-duration="0.75s"
    data-wow-delay="0s"
  >
    <div class="container">
      <div class="row">
        <div class="col-12">
          <nav class="main-nav">
            <!-- ***** Logo Start ***** -->
            <a href="index.html" class="logo">
              <img
                src="static/assets/images/HAM-LOGO.png"
                alt="Chain App Dev"
              />
            </a>
            <!-- ***** Logo End ***** -->
            <!-- ***** Menu Start ***** -->
            <ul class="nav">
              <li class="scroll-to-section">
                <a href="{{url_for('home')}}" class="active">Home</a>
              </li>
              <li class="scroll-to-section">
                <a href="#services">Join Us</a>
              </li>
              <li class="scroll-to-section">
                <a href="{{url_for('board')}}">Board</a>
              </li>
              <li class="scroll-to-section">
                <a href="{{url_for('contact')}}">Contact Us</a>
              </li>
              <li class="scroll-to-section"><a href="{{url_for('events')}}">Events</a></li>
              <li class="scroll-to-section">
                <a href="{{url_for('login')}}"><button class="btn btn-dark">Login</button></a>
                
              </li>
            </ul>
            <a class="menu-trigger">
              <span>Menu</span>
            </a>
            <!-- ***** Menu End ***** -->
          </nav>
        </div>
      </div>
    </div>
  </header>
  {% block content %}{% endblock %}
    
    <script src="/static/assets/vendor/jquery/jquery.min.js"></script>
    <script src="static/assets/js/animation.js"></script>
    
    <script src="static/assets/js/owl-carousel.js"></script>
    
    
    <script src="static/assets/js/popup.js"></script>
    <script src="static/assets/js/custom.js"></script>
    <script
      src="https://kit.fontawesome.com/142a7d352d.js"
      crossorigin="anonymous"
    ></script>
  </body>
  
</html> 
