<!DOCTYPE html>
<html lang="en">
  <head>
    {% extends "footer.html" %}
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap"
      rel="stylesheet"
    />
    <link href="https://fonts.googleapis.com/css2?family=Odibee+Sans&display=swap" rel="stylesheet">
    

    <title>HAM Club Of BIT</title>
    <link rel="icon" href="../static/assets/images/logo.ico" type="image/x-icon">

    <!-- Bootstrap core CSS -->
    <link href="/static/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet" />

    <!--

TemplateMo 570 Chain App Dev

https://templatemo.com/tm-570-chain-app-dev

-->

    <!-- Additional CSS Files -->
    <!-- <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
      integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf"
      crossorigin="anonymous"
    /> -->
    <link rel="stylesheet" href="static/assets/css/templatemo-chain-app-dev.css" />
    <link rel="stylesheet" href="static/assets/css/animated.css" />
    <link rel="stylesheet" href="static/assets/css/owl.css" />

  </head>


  <body>
    {% block content %}
    <!-- ***** Preloader Start ***** -->

    <!-- ***** Preloader End ***** -->

    <!-- ***** Header Area Start ***** -->
    
    
    <!-- <span class="container trial-2">
      wdwdwdw
    </div> -->

    <!-- ***** Header Area End ***** -->

    

    <div
      class="main-banner wow fadeIn"
      id="top"
      data-wow-duration="1s"
      data-wow-delay="0.5s"
    >
      <div class="container">
       

        <div class="row">
          <div class="col-lg-12">
            <div class="row">
              <div class="col-lg-6 align-self-center">
                <div
                  class="left-content show-up header-text wow fadeInLeft"
                  data-wow-duration="1s"
                  data-wow-delay="1s"
                >
                  <div class="row">
                    <div class="col trial-2"></div>
                    <div class="col-lg-12">
                      <h1 class="font_1">HAM CLUB OF BIT</h1>
                      <p>Ham Club is a new club of Bit established in 2022</p>
                    </div>
                    <div class="col-lg-12">
                      <!-- <div class="white-button first-button scroll-to-section">
                      <a href="#contact">Free Quote <i class="fab fa-apple"></i></a>
                    </div>
                    <div class="white-button scroll-to-section">
                      <a href="#contact">Free Quote <i class="fab fa-google-play"></i></a>
                    </div> -->
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-lg-6">
                <div
                  class="right-image wow fadeInRight"
                  data-wow-duration="1s"
                  data-wow-delay="0.5s"
                >
                  <img src="static/assets/images/HAM-RADIO.png" alt="" />
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div id="services" class="services section">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 offset-lg-2">
            <div
              class="section-heading wow fadeInDown"
              data-wow-duration="1s"
              data-wow-delay="0.5s"
            >
              <h4><em> HAM Club</em> is all about</h4>
              <!-- <img src="assets/images/heading-line-dec.png" alt="" /> -->
              <p>
               <!-- we at ham club do stuff -->
                
              
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-lg-4">
            <div class="service-item first-service">
              <div class="icon-2">
              <i class="fa-solid fa-tornado fa-3x"></i>
            </div>
              <h4>Disaster management</h4>
              <p>
                HAMs have been a vital part of disaster relief in times of floods, hurricanes, cyclones and earthquakes
              </p>
              <div class="text-button">
                <a href="https://vigyanprasar.gov.in/science-communication-programs/ham-radio/who-can-go-for-ham-radio/disaster-communication-in-india/#:~:text=A%20ham%20radio%20operator%20can,emergency%20medical%20traffic%2C%20establishing%20emergency">Read More <i class="fa fa-arrow-right"></i></a>
              </div>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="service-item second-service">
              <div class="icon-2">
              <i class="fa-solid fa-walkie-talkie fa-3x"></i>
            </div>
              <h4>Search and Rescue,Warfare</h4>
              <p>
                HAMs have been vital for the police and the Military, the HAMs have bee playing a crucial role in the war for Ukraine
              </p>
              <div class="text-button">
                <a href="https://www.rtl-sdr.com/russian-bomber-hf-activity-amateur-radio-banned-in-ukraine-sdr-hobbyist-warning-again/">Read More <i class="fa fa-arrow-right"></i></a>
              </div>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="service-item third-service">
              <div class="icon-2">
                <i class="fa-solid fa-book fa-3x"></i>
            </div>
              <h4>Research and Engineering</h4>
              <p>
                The fascination of have has given birth to many a scientists, astronauts and engineers
                <a
                  rel="https://www.jetir.org/papers/JETIR1908D07.pdf"
                  href="https://paypal.me/templatemo"
                
                  
                >
              </p>
              <div class="text-button">
                <a href="#">Read More <i class="fa fa-arrow-right"></i></a>
              </div>
            </div>
          </div>
          
        </div>
      </div>
    </div>
    <div id="services" class="services section">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 offset-lg-2">
            <div
              class="section-heading wow fadeInDown"
              data-wow-duration="1s"
              data-wow-delay="0.5s"
            >
              <h4><em> Events for </em>Manthan 2022</h4>
              <!-- <img src="assets/images/heading-line-dec.png" alt="" /> -->
              <p>
               <!-- we at ham club do stuff -->
                
              
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-lg-4">
            <div class="service-item first-service">
              
              <h4>KGF-The Game</h4>
              <p>
                The event is about the movie KGF (both the chapters)

              </p>
              <div class="text-button kgf">
                <a href="{{url_for('events')}}"></i></a>
              </div>
              <div class="text-button kgf">
                <a href="{{url_for('events')}}">Read More <i class="fa fa-arrow-right"></i></a>
              </div>
            </div>
            
          </div>
          <div class="col-lg-4">
            <div class="service-item second-service">
              
              <h4>STUDENT OF THE YEAR</h4>
              <p>
                Each floor of the college building would be considered as a level in the game
                Starting off with the 7th floor, people who can make it until the quadrangle would be the finalists for the
                title
              </p>
              <div class="text-button">
                <a href="{{url_for('events')}}">Read More <i class="fa fa-arrow-right"></i></a>
              </div>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="service-item third-service">
              
              <h4> FILM CRAFT</h4>
              <p>
                Each team should select a movie of their choice
                Dress up like the cast from the selected movie
                
                
              </p>
              <div class="text-button kgf">
                <a href="{{url_for('events')}}">Read More <i class="fa fa-arrow-right"></i></a>
              </div>
            </div>
          </div>
          
        </div>
      </div>
    </div>

    <div id="about" class="about-us section">
      <div class="container">
        
         
            <div class="section-heading">
              <h4>About <em>What We Do</em> and our history</h4>
              <!-- <img src="assets/images/heading-line-dec.png" alt="" /> -->
              <p class="what-we-do ">
                HAM’s are basically Amateur Radio Operators. We HAM’s engage in radio communication using the equipments at an amateur radio station.
              <p></p>
              <p class="origin">Origin</p>
              <p class="what-we-do-1">
              The common man's interest in started with it's invention by G. Marconi, with several amateur enthusiasts trying to make or use radio equipment to communicate ,these amateur operators knew little  about the science involved but were nonetheless thrilled by its  capabilities.
              </p>
              <div class="cont padding">

              
              <i class="fa-solid fa-tower-broadcast fa-7x"></i>
            </div>
              
            </div>
            
         
         
        
      </div>
    </div>

    <div id="clients" class="the-clients">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 offset-lg-2">
            <div class="section-heading">
              <a href={{url_for('board')}}><h4 class="padding"><em>Our amazing </em>Board of members</h4></a>
            
              <div class="center">
                <!-- <a href={{url_for('board')}}><i class="fa-solid fa-people-group fa-7x"></i></a> -->
               
              </div>
              
            </div>
          </div>
          
        </div>
        <div class="Board-pic-cont">
        <img src="/static/assets/images/Bod-pic.jpeg" alt="Bod pic" class="Bod-pic">
        <div class="padding last-button">
          <button class="btn btn-primary" onclick="location.href='/board'" id="myButton">Click here to know more</button>
            </div>

      </div>

      </div>
    </div>

  



    <!-- Scripts -->
    <script src="/static/assets/vendor/jquery/jquery.min.js"></script>
    <script src="static/assets/js/animation.js"></script>
    
    <script src="static/assets/js/owl-carousel.js"></script>
    
    
    <script src="static/assets/js/popup.js"></script>
    <script src="static/assets/js/custom.js"></script>
    <script
      src="https://kit.fontawesome.com/142a7d352d.js"
      crossorigin="anonymous"
    ></script>
    {% endblock %}
  </body>
</html>
